{{ js.add('jquery-3.1.1.min') }}
{{ js.add('bootstrap.min') }}
{{ css.add('bootstrap.min') }}
{{ css.add('bootstrap.-theme.min') }}
<!DOCTYPE html>
<html lang="de">
{% include 'header.html' %}
<body>
{% include 'navigation_authed.html' %}
<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-4 col-md-offset-4">
			{% for esi in esiList %}
			<img src="{{ characterEveRepository.getById(esi.characterId).imagePath }}" /> {{ characterEveRepository.getById(esi.characterId).name }}<br />
			{% endfor %}
		</div>
	</div>
</div>
{% include 'footer.html' %}
{{ css.add('Homepage/Homepage') }}
{{ js.add('Homepage/Homepage') }}