{{ js.add('jquery-3.1.1.min') }}
{{ js.add('bootstrap.min') }}
{{ css.add('bottstrap.min') }}
{{ css.add('bottstrap.-theme.min') }}
<!DOCTYPE html>
<html lang="de">
{% include 'header.html' %}
<body>
{% include 'navigation.html' %}
<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-12">
					<h1>Neuigkeiten</h1>
				</div>

				{% for news in newsList %}
					<div class="col-xs-5 col-sm-4"><p class="linkespalte"><strong>{{ news.createdAt }}</strong></p></div>
					<div class="col-xs-7 col-sm-8"><p class="rechtespalte"><strong>{{ news.title }}</strong></p></div>
					<div class="col-xs-5 col-sm-4"><p class="linkespaltesub"><em>{{ news.type }}</em></p></div>
					<div class="col-xs-7 col-sm-8"><p class="rechtespaltesub">{{ news.content }}</p></div>
					<div class="col-xs-12"><hr/></div>
				{% endfor %}
			</div>
		<div class="col-sm-1"></div>
	</div>
</div>
{% include 'footer.html' %}
{{ css.add('Index/Index') }}