<!DOCTYPE html>
<html>
    {% include 'header.html.twig' %}
    <body>
        {% include 'navigation.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
