{% extends 'base.html.twig' %}

{% block title %}Eve Toolkit Home{% endblock %}

{% block body %}

    {% for id, name in characters %}
        <li><a href="{{ path('character.activate', { 'id': id }) }}">{{ name }}</a></li>
    {% endfor %}

{% endblock %}
